<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617202629765-qu4g8l1r22l2mi8ml7q31nr2v53bba6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617202629765-qu4g8l1r22l2mi8ml7q31nr2v53bba6f</string>
	<key>API_KEY</key>
	<string>AIzaSyAJv_DsE-sXUFFDxaX4AZix10JtkAdhg1A</string>
	<key>GCM_SENDER_ID</key>
	<string>617202629765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuscofoodandrinks</string>
	<key>PROJECT_ID</key>
	<string>foodanddrinks-581b2</string>
	<key>STORAGE_BUCKET</key>
	<string>foodanddrinks-581b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617202629765:ios:a115b2b6e118dcc149fdec</string>
</dict>
</plist>